// set some margin across our page,
// which at the same time allow our main compnents,block to stay standalone(idnependent and resuable across the page)

.u-center-text {
  text-align: center;
}

.u-margin-bottom-sm {
  margin-bottom: 2rem !important;
}
.u-margin-bottom-mid {
  margin-bottom: 4rem !important;
  @include respond(tab-portrait){
    margin-bottom: 3rem !important;
  }
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-left-mid {
  margin-left: 6rem !important;
}

.u-margin-top-mid {
  margin-top: 6rem !important;
}
